:root{
	--corallo: #FF6F61;
	--ceruleo: #5BD3CD;
	--background: #131313;
	--fontsize: 25px;
	--text-color: white;
}
html, body{
	height:100%;
	
	border: 0;
	margin: 0;
	padding:0;
	
	font-family: 'Zen Kaku Gothic Antique', sans-serif;
	font-size: 22px;
	text-rendering: optimizeLegibility;
	line-height: 1.5em;

	background-color:var(--background);
	
	box-shadow: 110px -5px 0px var(--ceruleo);
}
h1{
	color: var(--background);
	font-family: 'Roboto Condensed', sans-serif;
	font-style: italic;
	font-weight: bold;
}

/* h2{ */
	/* color:var(--ceruleo); */
	/* font-family: 'Roboto Condensed', sans-serif; */
	/* font-size:2em; */
	/* font-weight: bold; */
/* } */

h3{
	color:var(--ceruleo);
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.5em;
	font-style: italic;
	font-weight: 700;
}

p{
	color: var(--text-color);
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	/* font-family: 'Zen Kaku Gothic Antique', sans-serif; */
}
p a{color: white; text-decoration: underline var(--ceruleo);}
p a:hover{
	color: var(--corallo);
	text-decoration: underline var(--corallo);
}
@media screen and (max-width: 800px){
	p a{color: var(--ceruleo)}
}

div#frontone{
	display: flex;
	
	width: 100%;
	height: 15%;
	border: 0;
	margin: auto;
	
	font-size: 30px;
	text-align: center;
	
	/* border-bottom:solid var(--ceruleo); */
	box-shadow: 0px -5px 100px var(--ceruleo);
	background: url(line2.jpg) no-repeat scroll center;
	background-size: cover;
}
#frontone h1{
	margin: auto;
	font-family: Georgia,Times,"Times New Roman",serif;
	font-size: 400%;
	max-height: 90%;
	text-shadow: -10px 5px 5px var(--ceruleo);
	color: black;
}
@media screen and (max-width: 800px){
	#frontone h1{
		margin-top:5%;
		font-size: 300%;
	}
}

.terreno{
	margin: auto;
	padding:0;
	padding-top:3%;
	margin-bottom:15%;
	max-width:1080px;
}
.terreno:after{
	content:"";
	display:table;
	clear:both;
}
@media screen and (max-width: 800px){
	.terreno{width:90%;}
}

.aiuola{
	margin:auto;
	float:left;
	width: 29%;
	padding: 0.2% 2% 0.2% 2%;
	border-width: 20%;
	/*border-bottom: solid var(--corallo);*/
}
.aiuola:hover {
	/*box-shadow: inset 0 -20px 20px -20px var(--corallo);*/ 
	h3{color: var(--corallo);}
	img{box-shadow: 0px 0px 10px var(--corallo);}
}
.aiuola h3{margin-bottom:1%;}
.dueTerz{
	width: 60%;
	/*p{column-count: 2;}*/
}

.aggiornamento{
	color:grey;
	text-align:right;
	font-size:0.8em;
}

img{
	margin:auto;
	height:10%;
	width:100%;
	box-shadow:0px 0px 10px var(--ceruleo);
	border-radius: 5px;
}

@media screen and (max-width: 800px){
	.aiuola{
		float:none;
		width:90%;
		/*border-bottom: solid var(--corallo);*/
	}
	.aiuola:hover h3{color: var(--ceruleo);}
	.dueTerz p{column-count: 1;}
	.aiuola img{box-shadow: 0px 0px 10px var(--corallo);}
}

/* TUTTI GLI ALTRI LINK */
a{color:black;text-decoration:none;}
a:hover{text-decoration:none;}
